.font-white {
  color: #f2f2f2;
}

.font-white:hover{
  color: #ffffff;
}

.font-pure-white{
  color: #ffffff;
}

.nav-item:hover{
  cursor: pointer;
}

.align-right{
  float: right;
}

.container{
  margin-top: 5rem;
}

.list-group{
  margin-bottom: 0.5rem;
}

.list-group-item{
  border-width: 0;
}

.abstract-card:hover{
  cursor: pointer;
}

.justify-elements{
  display: flex;
  justify-content: space-between;
}

.star-rating {
  direction: rtl;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
}

.star-rating input {
  display: none;
}

.star-rating label {
  cursor: pointer;
  color: #ddd;
}

.star-rating input:checked~label,
.star-rating label:hover,
.star-rating label:hover~label {
  color: #ffc107;
}

.card:hover{
  cursor: pointer;
  background-color: #CBDCEB;
}

.card:hover .card-header{
  background-color: #133E87;
}

.font-black{
  color: #000;
}

.navy-background{
  background-color: #133E87;
}

.navy-border{
  border-color: #133E87 ;
}

.navy-border:hover{
  background-color: #133E87;
}

.seablue-background{
  background-color: #CBDCEB;
}

.seablue-border {
  border-color: #608BC1;
}

.white-background{
  background-color: #fff;
  color:#133E87;
}

.white-background:hover{
  background-color: #fff;
  color: #133E87;
}
